<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wine Recommendation System{% endblock %}</title>
    
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- React and ReactDOM -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    
    <!-- React Router -->
    <script src="https://unpkg.com/react-router-dom@5/umd/react-router-dom.min.js"></script>
    
    <!-- Babel for JSX -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-50">
    <div id="root">
        <!-- React app will be mounted here -->
    </div>
    
    <!-- Your React app -->
    <script type="text/babel" src="{{ url_for('static', filename='js/react/App.js') }}"></script>
    
    {% block extra_scripts %}{% endblock %}
</body>
</html> 